@page
@model Wiki.Pages.Add_Article

<style>
    .tox .tox-editor-container {
        min-height: 500px; 
        resize: vertical; 
        overflow: auto;
    }
    .tox .tox-edit-area__iframe {
        height: 100% !important;
    }
</style>

<div class="uk-container">
    <h1>Add Article</h1>
    <form id="article-form" method="post" action="/api/add-article" enctype="multipart/form-data" onsubmit="return validateForm()">
        <input type="hidden" name="__RequestVerificationToken" value="@Model.__RequestVerificationToken">
        <div class="uk-form-stacked">
            <div class="uk-margin">
                <label class="uk-form-label" for="ArticleName">Name</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="ArticleName" name="FormInput.ArticleName" type="text" required>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="Content">Content</label>
                <div class="uk-form-controls">
                    <textarea class="uk-textarea" id="Content" name="FormInput.Content" ></textarea>
                </div>
            </div>
            <div class="uk-margin">
                <button class="uk-button uk-button-primary" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>


