@page
@model Wiki.Pages.Home

@{
    Layout = null;
}

<!-- Popular Articles Section -->
<div class="uk-section">
    <h2>Popular Articles</h2>
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="finite: true">
        <ul class="uk-slider-items uk-child-width-1-3@m uk-grid" hx-get="/PopularArticles" hx-trigger="load">
            <!-- Popular articles will be dynamically loaded here -->
        </ul>
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
    </div>
</div>

<!-- Recently Added Articles Section -->
<div class="uk-section">
    <h2>Recently Modified Articles</h2>
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="finite: true">
        <ul class="uk-slider-items uk-child-width-1-3@m uk-grid" hx-get="/RecentlyAddedArticles" hx-trigger="load">
            <!-- Recently added articles will be dynamically loaded here -->
        </ul>
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
    </div>
</div>